.hero {
    position: relative;
    display: flex;
    align-items: center;
}

.content {
    max-width: 800px;
}

.greeting {
    font-size: 18px;
    margin: 0 0 20px;
    color: white;
}

.name {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 16px;
    color: rgb(226 232 240);
}

.tagline {
    font-size: 28px;
    font-weight: 200;
    margin: 0 0 32px;
    color: rgb(148 163 184);
}

.description {
    font-size: 18px;
    line-height: 1.6;
    color: rgb(148 163 184);
    max-width: 60ch;
    margin: 0;
}

.employer {
    color: rgb(226 232 240);
    font-weight: 600;
}

@media (width >= 768px) {
    .name {
        font-size: 56px;
    }

    .tagline {
        font-size: 40px;
    }
}
